<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="address" class="com.klgentle.pojo.Address">
        <property name="address" value="China"/>
    </bean>

    <bean id="student" class="com.klgentle.pojo.Student" >
        <property name="name" value="CuteSmile"/>
        <property name="address" ref="address"/>

        <!-- 数组-->
        <property name="books">
            <array>
                <value>红楼梦</value>
                <value>三国演义</value>
                <value>金瓶梅</value>
            </array>
        </property>
        <!--list -->
        <property name="hobbys">
            <list>
                <value>swing</value>
                <value>pingpong</value>
                <value>golf</value>
            </list>
        </property>
        <!--Map -->
        <property name="card">
            <map>
                <entry key="0001" value="nana">
                </entry>
                <entry key="0002" value="kulokanxi">
                </entry>
                <entry key="0003" value="slsl">
                </entry>
            </map>
        </property>
        <!-- Set-->
        <property name="games" >
            <set>
                <value>LOL</value>
                <value>BOB</value>
                <value>COC</value>
            </set>
        </property>
        <!-- null-->
        <property name="wife" >
            <null/>
        </property>

        <property name="info">
            <props>
                <prop key="kl">klgentle</prop>
                <prop key="sl">slgentle</prop>
            </props>
        </property>
    </bean>

</beans>